*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container
{
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.login
{
    width: 880px;
    min-height: 400px;
    overflow: hidden;
    border-radius: 5px;
    background: #222;
    display: flex;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.8);
}
.content
{
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #00b894;
}
.content img{
    width: 90%;
    height: 380px;
}
.content:hover img{
    transform: scale(1.1);
}
.loginform
{
    flex-basis: 50%;
    background: #333;
    font-family: ronoto;
    padding: 25px;
}
.loginform h1
{
    text-align: center;
    margin-top: 25px;
    font-size: 2.5em;
    margin-bottom: 50px;
    color:#fff;
}
.tbox
{
    border-radius: 3px;
    background: transparent;
    outline: none;
    border: 1px solid #000;
    width: 100%;
    height: 35px;
    margin: 30px 0;
    background-color: #f2f2f2;
    /* padding: 10px; */
}
.tbox input
{
    background: transparent;
    width: 90%;
    outline: none;
    border: 0;
    padding-left: 5px;
   
}
::placeholder
{
    color: #777;
}
.tbox i{
    color:#55efc4;
    font-size: 15px;
    padding: 7px;
}
.btn
{
    width: 100%;
    border:0;
    border-radius: 5px;
    background: #00b894;
    color: #fff;
    padding: 12px;
    font-size: 18px;
}
.social
{
    margin-top: 25px;
    list-style: none;
    text-align: center;

}
.social li{
    display: inline-block;
}
.social li i{
    height: 35px;
    width: 35px;
    line-height: 35px;
    border: 1px solid #55efc4;
    border-radius: 50%;
    font-size: 18px;
    color: #fff;
    background-color: #ce1eba;
}
/* Responsive Design */
@media(max-width:768px)
{
    .login{
        flex-direction: column;
        margin: 0 15px;
    }
}